/*DeliveryManagementDepartment(Karunarathna S.N.D)*/
/*DeliveryHome.aspx CSS*/
#blitzExams {
    list-style-type: none;
    padding: 30px 30px;
    margin: 0;
}


    #blitzExams li a {
        padding: 93.75px 40px;
        text-decoration: none;
        color: lightseagreen;
        display: block 
        
    }

        #blitzExams li a:hover {
            background-color: sandybrown;
            padding: 93.75px 40px;
        }

#blitzExams li a {
        border: 0px solid grey;
        border-radius: 8px;
}
/*CreateDeliveryJobProfile.aspx*/
#Dp {
    list-style-type: none;
    padding: 30px 30px;
    margin: 0;
}

    #Dp li a {
        padding: 300px 1px;
        text-decoration: none;
        color: lightseagreen;
        display: block
    }

        #Dp li a:hover {
            background-color: sandybrown;
            padding: 200px 1px;
        }

    #Dp li a {
        border: 0px solid grey;
        border-radius: 8px;
    }
/*center styles*/
#center {
    margin: auto;
    width: 50%;
    padding: 18px;

}
#font {
    font-size: 25px;
}


.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #000000;
    }

#footer1 {
    background: #228B22;
    position: fixed;
    bottom: 40px;
    left: 0;
}

#footer2 {
    background: #008000;
    position: fixed;
    left: 0;
    bottom: 0;
}

